.App {
  text-align: center;
  justify-content: center;
}

.divButton {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

.complete-btn {
  background: rgb(155, 235, 135);
}
.trash-btn {
  background: rgb(199, 44, 44);
}
.time {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  font-weight: bold;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
  translate: 0 100%;
}
